@import 'tailwindcss';

@theme {
  --font-sans: 'Urbanist Variable', 'sans-serif';
  --font-cursive: 'Permanent Marker', 'cursive';

  --color-primary: black;
  --color-secondary: black;
  --color-tertiary: black;
}

@layer base {
  h1 {
    @apply text-2xl font-bold sm:text-4xl;
  }
  h2 {
    @apply text-xl font-bold sm:text-3xl;
  }
  h3 {
    @apply text-secondary text-lg font-bold sm:text-2xl;
  }
  h4 {
    @apply text-secondary text-base font-bold sm:text-lg;
  }
}

@keyframes clickPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.click-pulse {
  animation: clickPulse 0.3s ease-in-out;
}

/* For Debug */
/* * { */
/*   outline: 1px solid red; */
/* } */
