@import 'tailwindcss';

@theme {
  --font-sans: 'Fira Sans', 'sans-serif';

  --color-primary: #f5d365;
  --color-secondary: #d5202e;
  --color-tertiary: #124483;
}

@layer base {
  h2 {
    @apply text-secondary text-xl font-bold sm:text-3xl;
  }
}

@keyframes clickPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.click-pulse {
  animation: clickPulse 0.3s ease-in-out;
}
