---
import Layout from '@layouts/Layout.astro';
import CartItemList from '@components/CartItemList';
import CartTotal from '@components/CartTotal';
import ClearCartButton from '@components/ClearCartButton';
import Main from '@components/Main.astro';
---

<Layout>
  <Main>
    <div class="mx-auto flex w-full flex-col items-center justify-center">
      <div class="w-full max-w-2xl">
        <h2>Your Cart</h2>
      </div>
      <div class="mt-8 w-full max-w-2xl">
        <CartItemList client:load />
        <div class="border-primary mt-8 flex justify-end border-t pt-8">
          <div class="w-screen max-w-lg space-y-4">
            <CartTotal client:load />
            <div class="flex justify-between pt-4">
              <ClearCartButton client:load />
              <a
                href="/checkout"
                class="hover:text-tertiary hover:decoration-primary cursor-pointer py-2 text-black underline-offset-4 hover:underline focus:outline-hidden disabled:text-gray-500 disabled:hover:decoration-white"
              >
                Checkout
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Main>
</Layout>
