---
import Layout from '@layouts/Layout.astro';
import CartList from '@components/Cart/index';
---

<Layout>
  <div class="mx-auto flex w-full flex-col items-center justify-center">
    <header class="w-full max-w-2xl">
      <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">Your Cart</h2>
    </header>
    <CartList client:load />
  </div>
</Layout>
