---
import ProductCollection from '@components/ProductCollection.astro';
import Layout from '@layouts/Layout.astro';
import CartList from '@preact/Cart.tsx';
---

<Layout>
  <div class="mx-auto flex w-full flex-col items-center justify-center px-4">
    <CartList client:visible />
    <header class="w-full max-w-5xl">
      <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">
        Product Collection
      </h2>

      <p class="mt-4 max-w-md text-gray-500">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque
        praesentium cumque iure dicta incidunt est ipsam, officia dolor fugit
        natus?
      </p>
    </header>
    <ProductCollection />
  </div>
</Layout>
