---
import Header from '@components/Header.astro';
import ProductCardWithOverlay from '@components/ProductCardWithOverlay.astro';
import { getProducts } from '@utils/products';
import Layout from '@layouts/Layout.astro';

const products = getProducts();
---

<Layout>
  <Header>
    <h1
      class="font-cursive text-primary mb-20 -rotate-12 sm:mb-40 xl:-translate-14"
    >
      Product Collection
    </h1>

    <h4 class="font-bold text-white">New Drop</h4>

    <p class="z-50 mt-4 max-w-xl text-2xl text-white">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque
      praesentium cumque iure dicta incidunt est ipsam, officia dolor fugit
      natus?
    </p>
  </Header>

  <div class="flex w-full flex-wrap justify-center">
    {
      products.map((product) => (
        <ProductCardWithOverlay
          id={product.id}
          imageUrls={product.imageUrls}
          title={product.title}
          price={product.price}
        />
      ))
    }
  </div>
</Layout>
