---
import Header from '@components/Header.astro';
import ProductCardWithOverlay from '@components/ProductCardWithOverlay.astro';
import { getProducts } from '@utils/products';
import Layout from '@layouts/Layout.astro';

const products = getProducts();
---

<Layout>
  <Header>
    <h2>Product Collection</h2>

    <p class="mt-4 max-w-md text-white">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque
      praesentium cumque iure dicta incidunt est ipsam, officia dolor fugit
      natus?
    </p>

    <a
      href="/products"
      class="hover:bg-primary hover:text-secondary mt-6 inline-block bg-white px-4 py-2 text-center"
    >
      View All Products
    </a>
  </Header>

  <div class="flex w-full flex-wrap justify-center">
    {
      products.map((product) => (
        <ProductCardWithOverlay
          id={product.id}
          imageUrls={product.imageUrls}
          title={product.title}
          price={product.price}
        />
      ))
    }
  </div>
</Layout>
