---
import Header from '@components/Header.astro';
import Main from '@components/Main.astro';
import ProductCardWithoutOverlay from '@components/ProductCardWithoutOverlay.astro';
import { getProducts } from '@content/products';
import Layout from '@layouts/Layout.astro';

const products = getProducts();
---

<Layout>
  <Header>
    <h2>Product Collection</h2>

    <p class="mt-4 max-w-md text-white">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque
      praesentium cumque iure dicta incidunt est ipsam, officia dolor fugit
      natus?
    </p>
  </Header>
  <Main>
    <div class="mx-auto flex w-full flex-wrap justify-center">
      {
        products.map((product) => (
          <ProductCardWithoutOverlay
            id={product.id}
            imageUrls={product.imageUrls}
            title={product.title}
            price={product.price}
          />
        ))
      }
    </div>
  </Main>
</Layout>
