---
interface Props {
  url?: string; // No url means do nothing
}

const { url } = Astro.props as Props;
---

<a
  href={url}
  class="hover:text-tertiary decoration-primary mt-6 inline-block bg-white px-3 py-2 text-center text-sm font-semibold tracking-widest text-black uppercase hover:underline"
>
  <slot />
</a>
