---
import logo from '@images/instagram.svg';
---

<footer
  class="mx-auto flex w-full max-w-screen-xl items-center justify-end px-4 py-12 sm:px-6 lg:px-8"
>
  <div>
    <a href="https://www.instagram.com/attakk_studios">
      <img src={logo.src} alt="Instagram" class="inline-block h-6 w-6" />
    </a>
  </div>
</footer>
