---
import logo from '@images/instagram.svg';
---

<footer class="mx-auto flex max-w-screen-xl items-center justify-end py-24">
  <div>
    <a href="https://www.instagram.com/attakk_studios">
      <img src={logo.src} alt="Instagram" class="inline-block h-6 w-6" />
    </a>
  </div>
</footer>
