---
import HeaderImage from '@images/PHOTO-2025-07-30-11-51-04.jpg';
---

<header class="relative h-1/2 w-full overflow-hidden bg-black">
  <img
    src={HeaderImage.src}
    alt="Header"
    class="z-0 h-full w-full object-cover object-right opacity-40"
  />
  <div class="absolute bottom-0 left-0 z-10 p-6">
    <slot />
  </div>
</header>
