---
import logo from '@images/attakk_studios_black.svg';
import CartButton from '@components/CartButton';

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<nav
  class="mx-auto mb-4 flex h-16 max-w-screen-xl items-center justify-between"
>
  <a href="/" class="flex items-center">
    <img src={logo.src} alt="Attakk Studios Logo" class="h-8" />
  </a>
  <div class="flex h-16 items-center justify-between"></div>
  <div class="flex-1 md:flex md:items-center md:gap-12">
    <a class="text-white transition hover:text-gray-500/75" href="/">
      {title}
    </a>
  </div>

  <div class="md:flex md:items-center md:gap-12">
    <a class="text-gray-500 transition hover:text-gray-500/75" href="/cart">
      <CartButton client:load />
    </a>
  </div>
</nav>
