---
import Product from './Product.astro';
import { getProducts } from '@content/products.tsx';
const products = getProducts();
---

<div class="flex w-full flex-wrap justify-center">
  {
    products.map((product) => (
      <Product
        id={product.id}
        imageUrls={product.imageUrls}
        title={product.title}
        price={product.price}
      />
    ))
  }
</div>
