---
import Product from './Product.astro';
import { getProducts } from '@content/products.tsx';
const products = getProducts();
---

<div class="mt-8 flex w-full max-w-5xl flex-wrap justify-center gap-8">
  {
    products.map((product) => (
      <Product
        id={product.id}
        imageUrls={product.imageUrls}
        title={product.title}
        price={product.price}
      />
    ))
  }
</div>
