---
import Button from '@components/preact/Button';

interface Props {
  id: string;
  title: string;
  price: number;
  imageUrls: [string, string];
}

const { id, title, price, imageUrls } = Astro.props as Props;
---

<div class="group overflow-hiddens block w-full max-w-xs">
  <div class="relative h-[350px] sm:h-[450px]">
    <img
      src={imageUrls[0]}
      alt=""
      class="absolute inset-0 h-full w-full object-cover opacity-100 group-hover:opacity-0"
    />

    <img
      src={imageUrls[1]}
      alt=""
      class="absolute inset-0 h-full w-full object-cover opacity-0 group-hover:opacity-100"
    />
  </div>

  <div class="relative bg-white pt-3">
    <h3
      class="text-sm text-gray-700 group-hover:underline group-hover:underline-offset-4"
    >
      {title}
    </h3>

    <p class="mt-1 pb-3 tracking-wide text-gray-900">
      {`${price}.00 CHF`}
    </p>

    <div class="flex w-full justify-center">
      <Button title="Add to Cart" client:visible />
    </div>
  </div>
</div>
