---

---

<div
  tabindex="0"
  class="bg-primary absolute inset-0 z-10 translate-y-0 transform transition-transform duration-300 group-focus-within:translate-y-full group-hover:translate-y-full"
>
  <div class="flex min-h-full w-full items-center justify-center">
    <div class="h-full w-full max-w-7xl translate-0 px-4 py-6 sm:px-6 lg:px-8">
      <slot />
    </div>
  </div>
</div>
