---
import type { Link } from './types';
interface Props {
  links: Link[];
}
const { links } = Astro.props;
---

<ul class="flex items-center gap-6 text-sm">
  {
    links.map((link) => (
      <li>
        <a
          class="text-gray-500 transition hover:text-gray-500/75"
          href={link.href}
        >
          {link.label}
        </a>
      </li>
    ))
  }
</ul>
